node_modules
dist
.DS_Store
.env
coverage
*.log
data/public-submissions/
*.tsbuildinfo
apps/client/node_modules
apps/server/node_modules
packages/shared/node_modules
apps/client/playwright-report
apps/client/test-results
apps/client/src/assets/raw
docker-compose.traefik.yml